.banner {
  background-image: url(../../images/background.png);
  background-size: cover;
  background-position: center;
  padding: 200px 0px;
}

.container {
  width: 900px;
  margin: auto;
}

.banner h1 {
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
}

.banner p {
  font-size: 20px;
  color: lightgrey;
  margin-bottom: 30px;
  margin-top: 5px;
}
